# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# VSCode files
*.code-workspace

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/
*/*.html

# Temporary files created by R markdown
*.utf8.md
*.knit.md
*.html

# R Environment Variables
.Renviron

# Downloaded data from GEO (code will reconstruct this folder on demand)
HuOsteo/PrimaryTumor/*

# Intermediate data files (code will reconstruct these on demand)
*.qs

# Plots
*.png
HuOsteo/Plots/*
input
output
BC5
HuOsteo/MetsTumor/BC10
HuOsteo/MetsTumor/BC17
HuOsteo/MetsTumor/GSE152048/BC17
HuOsteo/MetsTumor/GSE152048/BC10
osteo_atlas.rmarkdown
int
osteo_atlas_files
rfiles
tmp

#Velocity analysis stuff
loom_output
*genes.gtf